:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation,
.address {
  display: none;
}

.header .logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms var(--timing-function);
}

.navigation-link:hover,
.navigation-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation,
  .address {
    display: block;
  }
  .header .container,
  .navigation,
  .navigation-list,
  .address-list {
    display: flex;
    align-items: center;
  }
  .header .logo {
    margin-right: 88px;
  }
  .navigation-list-item:last-child {
    margin-right: 84px;
  }
  .address-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .address-contact:first-child {
    margin-bottom: 10px;
  }
  .header-contacts {
    font-size: 12px;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.logo-icon {
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms var(--timing-function);
}

.header-contacts:hover .logo-icon {
  fill: var(--accent-color);
}

.header-contacts:focus .logo-icon {
  fill: var(--accent-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .overlay {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px 400px;
    text-align: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 768px 400px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero-img-desktop@2x.jpg);
  }
}

@media screen and (max-width: 1200px) {
  .wrap {
    display: none;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

@media screen and (max-width: 767px) {
  .about-title {
    text-align: center;
  }
}

.about-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-color);
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.about-thumb-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  .about-list-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list {
    display: flex;
    margin-bottom: 94px;
  }
  .about-list-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .about-list-item:last-child {
    margin-right: 0px;
  }
  .title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
  }
  .about-list-img {
    display: flex;
  }
  .about-list-img > li:not(:last-child) {
    margin-right: 30px;
  }
  .about-img-wrapper {
    position: relative;
  }
  .about-img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-list-item {
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-color);
}

.team-list-text {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--main-color);
}

.team-list-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team-list-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .team-list-item {
    width: calc((100% - 120px) / 4);
    margin-right: 30px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients .title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-list-item {
  width: calc((100% - 60px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients-list-link:hover, .clients-list-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .clients-list-item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .clients-list-link {
    width: 170px;
  }
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.logo-footer {
  color: #ffffff;
}

.footer-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer-logo-link {
    font-size: 26px;
  }
}

.footer-list {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-link {
  color: #ffffff;
}

.footer-list-address {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer-list-address {
    margin-bottom: 9px;
  }
}

.footer-list-item {
  margin-bottom: 8px;
}

.footer-list-item:last-child {
  margin-bottom: 60px;
}

.footer-join-title,
.footer-subscribe-title {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.footer-join-wrapper {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .footer-join-wrapper {
    margin: 0 auto 60px;
  }
}

.join-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.join-list-link:hover, .join-list-link:focus {
  background-color: var(--accent-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 10px 28px 10px 29px;
}

.footer-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}

.subscribe-icon {
  display: block;
  min-width: 24px;
  min-height: 24px;
  margin-left: 10px;
  fill: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-wrapper {
    margin-right: 165px;
  }
  .footer-tablet {
    display: flex;
    width: 600px;
    margin: 0 auto;
  }
  .form-subscribe {
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
  .footer-tablet {
    display: flex;
  }
  .footer-wrapper {
    width: 231px;
    margin-right: 70px;
  }
  .footer-join-wrapper {
    margin-right: 93px;
  }
  .footer-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .form-subscribe {
    display: flex;
  }
  .footer-wrapper,
  .footer-subscribe-title,
  .footer-join-title {
    text-align: initial;
  }
  .footer-list-item:last-child {
    margin-bottom: 0;
  }
}

.modal-btn {
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--timing-function);
}

.backdrop.is-hidden {
  transition: all 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  transition: transform 250ms var(--timing-function) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms var(--timing-function) 0ms;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 250ms var(--timing-function);
}

.close-btn:focus, .close-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font);
}

.form {
  width: 448px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--main-color);
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  cursor: pointer;
  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.form-icon:hover, .form-icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.textarea-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  cursor: pointer;
  transition: border 250ms var(--timing-function);
}

.textarea-text::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.field {
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.policy {
  position: relative;
  margin-bottom: 35px;
}

.checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
  border-bottom: var(--accent-color);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  padding-left: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  position: absolute;
  margin-left: -23px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/studio/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}
/*# sourceMappingURL=main.css.map */