@media screen and (max-width: 1200px) {
  .wrap {
    display: none;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-color);
}

.about-list-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.about-thumb-icon {
  @include flex-center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    // margin-bottom: 60px;
    margin-right: -30px;
  }

  .about-list-item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .about-list {
    display: flex;
    margin-bottom: 94px;
  }

  .about-list-item {
    width: calc((100% - 120px) / 4);
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
  }

  .about-list-img {
    display: flex;

    & > li:not(:last-child) {
      margin-right: 30px;
    }
  }

  .about-img-wrapper {
    position: relative;
  }

  .about-img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}
