.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients .title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  // margin-right: -30px;
  margin-bottom: -30px;
}

.clients-list-item {
  width: calc((100% - 30px) / 2);
  // margin-right: 30px;
  margin-bottom: 30px;
}

.clients-list-item:nth-child(odd) {
  margin-right: 30px;
}

.clients-list-link {
  @include flex-center;
  color: #afb1b8;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .clients-list-item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .clients-list-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .clients-list-link {
    width: 170px;
  }

  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
