.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;

  &-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list-link {
  @include flex-center;
  color: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}
