.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation,
.address {
  display: none;
}

.header .logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color 250ms var(--timing-function);
}

.navigation-link:hover,
.navigation-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation,
  .address {
    display: block;
  }

  .header .container,
  .navigation,
  .navigation-list,
  .address-list {
    @include flex-center-vert;
  }

  .header .logo {
    margin-right: 88px;
  }

  .navigation-list-item:last-child {
    margin-right: 84px;
  }

  .address-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .address-contact:first-child {
    margin-bottom: 10px;
  }

  .header-contacts {
    font-size: 12px;
  }
}

// .address {
//   margin-left: auto;
// }
// .address-contact:first-child {
//   margin-right: 50px;
// }

// .navigation-link {
//   position: relative;
// }

// .current::after {
//   position: absolute;
//   left: 0;
//   bottom: -31px;
//   content: "";
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-color);
//   border-radius: 4px;
// }

.header-contacts {
  @include flex-center-vert;
  color: var(--main-color);
}

.logo-icon {
  margin-right: 8px;
  fill: #757575;
  transition: fill 250ms var(--timing-function);
}

.header-contacts:hover .logo-icon {
  fill: var(--accent-color);
}

.header-contacts:focus .logo-icon {
  fill: var(--accent-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
