.modal-btn {
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
}
